!! ============================================================
!! Sample Cisco IOS XR Configuration - Sanitisation Test File
!! Covers: passwords, IPs, SNMP, BGP keys, VRFs, route-policies,
!!         class-maps, QoS, prefix-sets, community-sets,
!!         keychains, descriptions, interface names
!! ============================================================

!! ── HOSTNAME & DOMAIN ────────────────────────────────────────
hostname host-c542
domain name dom-24f6

!! ── LOCAL USERS ──────────────────────────────────────────────
username user-d120
 group root-lr
 group cisco-support
 secret 5 <REMOVED>
!
username user-a689
 group operator
 secret 0 <REMOVED>
!
username user-0c86
 group read-only-tg
 password 7 <REMOVED>

!! ── VRFs ─────────────────────────────────────────────────────
vrf vrf-a48e
 description desc-c4bb
 address-family ipv4 unicast
  import route-target
   AS-2b08:100
  !
  export route-target
   AS-2b08:100
  !
 !
!

vrf vrf-7c7d
 description desc-9d68
 address-family ipv4 unicast
 !
!

vrf vrf-ea02
 description desc-b8aa
 address-family ipv4 unicast
  import route-target
   AS-2b08:200
  !
  export route-target
   AS-2b08:200
  !
 !
!

!! ── INTERFACES ───────────────────────────────────────────────
interface Loopback0
 description desc-a551
 ipv4 address IPv4-d697 255.255.255.255
!
interface Loopback100
 description desc-6160
 vrf vrf-a48e
 ipv4 address IPv4-cf7c 255.255.255.255
!
interface HundredGigE0/0/0/0
 description desc-f0f8
 ipv4 address IPv4-622f 255.255.255.252
 service-policy input pmap-d810
 service-policy output pmap-f7f9
 no shutdown
!
interface HundredGigE0/0/0/1
 description desc-bcbf
 vrf vrf-a48e
 ipv4 address IPv4-d6cc 255.255.255.252
 no shutdown
!
interface HundredGigE0/0/0/2
 description desc-fe47
 ipv4 address IPv4-a842 255.255.255.252
 no shutdown
!
interface MgmtEth0/RP0/CPU0/0
 description desc-271a
 vrf vrf-7c7d
 ipv4 address IPv4-a8c9 255.255.255.0
 no shutdown
!

!! ── SNMP ─────────────────────────────────────────────────────
snmp-server community snmp-1595
 RO IPv4 acl-be5f
snmp-server community snmp-1c0f
 RW IPv4 acl-be5f
snmp-server host IPv4-d721 version 2c snmp-1595
snmp-server host IPv4-42fd version 2c snmp-1595
snmp-server location <REMOVED>
snmp-server contact <REMOVED>

!! ── KEYCHAIN ─────────────────────────────────────────────────
key chain kc-5d12
 key <REMOVED>
  accept-lifetime 00:00:00 january 01 2024 infinite
  key-string password 0 <REMOVED>
  send-lifetime 00:00:00 january 01 2024 infinite
  cryptographic-algorithm hmac-sha1-12
 !
!

key <REMOVED> ISIS-KEYCHAIN
 key <REMOVED>
  accept-lifetime 00:00:00 january 01 2024 infinite
  key-string password 7 <REMOVED>
  send-lifetime 00:00:00 january 01 2024 infinite
  cryptographic-algorithm hmac-sha1-12
 !
!

!! ── PREFIX SETS ──────────────────────────────────────────────
prefix-set pfx-d439
  IPv4-899e/24,
  IPv4-f286/24
end-set

prefix-set pfx-64c6
  0.0.0.0/0,
  0.0.0.0/0 le 24
end-set

prefix-set pfx-83ff
  IPv4-669b/24,
  IPv4-ce7f/24,
  IPv4-f053/24
end-set

prefix-set pfx-4766
  0.0.0.0/0
end-set

!! ── COMMUNITY SETS ───────────────────────────────────────────
community-set cmty-3fc3
  AS-2b08:1000
end-set

community-set cmty-89ba
  AS-2b08:2000
end-set

community-set cmty-a5bc
  AS-2b08:9999
end-set

!! ── ROUTE POLICIES ───────────────────────────────────────────
route-policy rmap-6167
  # Accept default and full table from upstream
  if destination in pfx-64c6 then
    set local-preference 150
    pass
  else
    drop
  endif
end-policy

route-policy rmap-5923
  # Advertise our own prefixes outbound only
  if destination in pfx-d439 then
    set community cmty-3fc3 additive
    pass
  else
    drop
  endif
end-policy

route-policy rmap-c404
  # Accept ACME customer routes
  if destination in pfx-83ff then
    set local-preference 100
    pass
  else
    drop
  endif
end-policy

route-policy rmap-aa84
  # Advertise default to ACME customer
  if destination in pfx-4766 then
    pass
  else
    drop
  endif
end-policy

!! ── BGP ──────────────────────────────────────────────────────
router bgp AS-2b08
 bgp router-id IPv4-d697
 bgp log neighbor changes detail
 bgp confederation identifier AS-d20b
 bgp confederation peers AS-65fe AS-e2b5
 bgp local-as AS-8a26 no-prepend replace-as
 !
 neighbor-group ng-77c9
  description desc-add9
  remote-as AS-d20b
  update-source Loopback0
  password encrypted <REMOVED>
  address-family ipv4 unicast
   route-policy rmap-6167 in
   route-policy rmap-5923 out
   prefix-list pfx-64c6 in
  !
 !
 !
 neighbor-group ng-f218
  description desc-da30
  remote-as AS-2b08
  update-source Loopback0
  password 0 <REMOVED>
  address-family ipv4 unicast
  !
  address-family vpnv4 unicast
  !
 !
 !
 neighbor IPv4-2352
  description desc-e9a9
  use neighbor-group ng-77c9
 !
 neighbor IPv4-b766
  description desc-4660
  use neighbor-group ng-f218
 !
 neighbor IPv4-ebc1
  description desc-5dcf
  use neighbor-group ng-f218
 !
 vrf vrf-a48e
  rd AS-2b08:100
  neighbor IPv4-a442
   remote-as AS-8a26
   description desc-26e5
   password 0 <REMOVED>
   address-family ipv4 unicast
    route-policy rmap-c404 in
    route-policy rmap-aa84 out
   !
  !
 !
!

!! ── QoS CLASS MAPS ───────────────────────────────────────────
class-map match-any cmap-640f
 match dscp ef
 match dscp cs6
 end-class-map
!
class-map match-any cmap-7758
 match dscp af41
 match dscp af42
 end-class-map
!
class-map match-any cmap-9b03
 match dscp af31
 match dscp af32
 end-class-map
!
class-map match-any cmap-efcb
 match dscp cs1
 end-class-map
!

!! ── QoS POLICY MAPS ──────────────────────────────────────────
policy-map pmap-d810
 description desc-f83c
 class cmap-640f
  set dscp ef
  police rate 10 mbps
 !
 class cmap-7758
  set dscp af41
  police rate 50 mbps
 !
 class cmap-9b03
  set dscp af31
 !
 class cmap-efcb
  set dscp cs1
 !
 class class-default
  set dscp default
 !
end-policy-map
!

policy-map pmap-f7f9
 description desc-281e
 class cmap-640f
  priority level 1
 !
 class cmap-7758
  priority level 2
 !
 class cmap-9b03
  bandwidth remaining percent 40
 !
 class cmap-efcb
  bandwidth remaining percent 5
 !
 class class-default
  bandwidth remaining percent 35
 !
end-policy-map
!

!! ── NTP ──────────────────────────────────────────────────────
ntp
 authenticate
 authentication-key 1 md5 encrypted <REMOVED>
 trusted-key 1
 server IPv4-3011 key 1 prefer
 server IPv4-ac63 key 1
 source-interface Loopback0
!

!! ── TACACS+ ──────────────────────────────────────────────────
tacacs-server host IPv4-a7f9
 key 7 <REMOVED>
!
tacacs-server host IPv4-48e4
 key 0 <REMOVED>
!
aaa group server tacacs+ aaag-e1c6
 server IPv4-a7f9
 server IPv4-48e4
!
aaa group server tacacs+ aaag-cfc7
 server-private IPv4-a7f9 key 7 <REMOVED>
 server-private IPv4-48e4 key 0 <REMOVED>
!
aaa authentication login default group aaag-e1c6 local
aaa authorization exec default group aaag-e1c6 local

!! ── BANNER ───────────────────────────────────────────────────
banner motd ^C
<REMOVED>
^C

!! ── CALL-HOME ────────────────────────────────────────────────
call-home
 contact-email-addr <REMOVED>
 street-address <REMOVED>
 site-id <REMOVED>
 customer-id <REMOVED>
 phone-number <REMOVED>
 contract-id <REMOVED>

!! ── LOGGING ──────────────────────────────────────────────────
logging IPv4-bbe5
logging IPv4-179f
logging source-interface Loopback0
logging level informational

!! end

!! ── IPv6 ──────────────────────────────────────────────────────
!! IPv6 interface addresses
interface Loopback0
 ipv6 address IPv6-e30c/128
!
interface HundredGigE0/0/0/0
 ipv6 address IPv6-094a/126
 ipv6 address FE80::3 link-local
!
interface HundredGigE0/0/0/2
 ipv6 address IPv6-0ac0/126
!

!! IPv6 static route
router static
 address-family ipv6 unicast
  ::/0 IPv6-9e10
 !
!

!! IPv6 prefix sets
prefix-set pfx-7380
  IPv6-60dc/48
end-set

prefix-set pfx-18cb
  ::/0,
  ::/0 le 48
end-set

!! BGP IPv6 neighbor-group and neighbor
router bgp AS-2b08
 neighbor-group ng-ec9e
  description desc-6486
  remote-as AS-d20b
  update-source Loopback0
  password encrypted <REMOVED>
  address-family ipv6 unicast
   route-policy rmap-6167 in
   route-policy rmap-5923 out
   prefix-list pfx-18cb in
  !
 !
 neighbor IPv6-9e10
  description desc-2a0b
  use neighbor-group ng-ec9e
 !
 neighbor IPv6-2c69
  description desc-a104
  use neighbor-group ng-f218
 !
!

!! NTP over IPv6
ntp
 server IPv6-c3bc key 1
!